<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="elmeniawy.eslam.twitterfollowers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".root.MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".screens.splash.ActivitySplash"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.followers_list.ActivityFollowersList" />
        <activity
            android:name=".screens.login.ActivityLogin"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".screens.welcome.ActivityWelcome"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".screens.follower_info.ActivityFollowerInfo"
            android:label="@string/title_activity_follower_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>